.portadaClientes{
    color: white;
    background-image: url('../../imagenes/portadaNosotros.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0;
    height: 40vh;
  
  &__callToAction{
  padding:2rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  }

  &__btn{

    color:white;
    padding: 1rem;
    background-color: black;
    font-size: 1.2rem;
    
  }
}



.logosClientes{

    

    &__caja{
    padding: 2rem 0;
    margin: 2rem 0;
    border-radius: 1.5rem;
    height: 25rem;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

     &__caja:hover{
        box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.81);
        -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.81);
        -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.81);
    }

    &__caja--img{
        max-height: 15rem;
        max-width: 15rem;
    }

    &--btn{
        margin-top: 2rem;
        padding: 0.5rem ;
        font-size: 1.2rem;
        color: white;
        font-weight: 400;
        background-color: rgb(83, 83, 83);
    }
    }

